<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624406999978-m896kda7nf58pkbso0pp2hiq1o0ria17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624406999978-m896kda7nf58pkbso0pp2hiq1o0ria17</string>
	<key>API_KEY</key>
	<string>AIzaSyBrRgFnYAwoFZO3gyOWqhZauhUE_026NSk</string>
	<key>GCM_SENDER_ID</key>
	<string>624406999978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.wooseob.DIVIDE</string>
	<key>PROJECT_ID</key>
	<string>divide-3d8f1</string>
	<key>STORAGE_BUCKET</key>
	<string>divide-3d8f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624406999978:ios:fdedee7e6498163a7c31d3</string>
</dict>
</plist>